<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailUpdate</servlet-name>
        <servlet-class>UserDetailUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddress</servlet-name>
        <servlet-class>UserAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantSignup</servlet-name>
        <servlet-class>MerchantSignup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailUpdate</servlet-name>
        <url-pattern>/UserDetailUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddress</servlet-name>
        <url-pattern>/UserAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantSignup</servlet-name>
        <url-pattern>/MerchantSignup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
