<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailUpdate</servlet-name>
        <servlet-class>UserDetailUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddress</servlet-name>
        <servlet-class>UserAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantSignup</servlet-name>
        <servlet-class>MerchantSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoOrder</servlet-name>
        <servlet-class>DoOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantStatusChange</servlet-name>
        <servlet-class>MerchantStatusChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantProfileUpdate</servlet-name>
        <servlet-class>MerchantProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchantRatesUpdate</servlet-name>
        <servlet-class>MerchantRatesUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserBlock</servlet-name>
        <servlet-class>AdminMerchantBlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMerchantBlock</servlet-name>
        <servlet-class>AdminMerchantBlock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersBlock</servlet-name>
        <servlet-class>AdminUsersBlock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailUpdate</servlet-name>
        <url-pattern>/UserDetailUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddress</servlet-name>
        <url-pattern>/UserAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantSignup</servlet-name>
        <url-pattern>/MerchantSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoOrder</servlet-name>
        <url-pattern>/DoOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantStatusChange</servlet-name>
        <url-pattern>/MerchantStatusChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantProfileUpdate</servlet-name>
        <url-pattern>/MerchantProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchantRatesUpdate</servlet-name>
        <url-pattern>/MerchantRatesUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserBlock</servlet-name>
        <url-pattern>/AdminUserBlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMerchantBlock</servlet-name>
        <url-pattern>/AdminMerchantBlock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersBlock</servlet-name>
        <url-pattern>/AdminUsersBlock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
